.file-container {
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

.folder-title {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.file-list {
  display: flex;
  flex-direction: column;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.file-item:hover {
  transform: scale(1.02);
}

.file-name {
  color: #000000;
}

.file-buttons {
  display: flex;
  gap: 10px;
}

.update-button {
  background-color: #14213d;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.update-button:hover {
  background-color: #2f4e92;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.file-type {
  background-color: #fca311;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.fileHeader {
  display: flex;
  justify-content: space-between;
}
