.signup-container {
  max-width: 400px;
  margin: 20px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

select {
  appearance: none;
  width: 100%;
  padding: 10px;
}

.signup-button {
  padding: 10px;
  background-color: #fca311;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.signup-button:hover {
  background-color: #ffbb5b;
}
